# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.hex

# Custom Binaries
libhook.so
sample
sample2
hw
utest

/pin/MyPinTool/pin
